ol{
    color: red;
    column-rule-style: dashed;
}
label #age {
    color: red;
}
label #name{
    color: green;
}
label{
    color: coral;
}

#save-ok, #save-request {
    text-align: center;
    font-size: 24px;
}

body {
    background: #FFF;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

div #header {
    background: #F5DEB3;
    width: 100%;
    height: 55px;
}

#container {
    background: #ff0026;
    margin: auto auto;
    text-align: center;
    width: 80%;
    height: 400px;
}

div  #navigation {
    background: #FE9798;
    width: 100%;
    height: 25px;
}

#sidebar {
    background: #40E0D0;
    float: left;
    width: 20%;
    height: 280px;
}

#content {
    background: #DCDCDC;
    float: right;
    width: 80%;
    height: 280px;
}

#clear {
    clear: both;
}

#footer {
    background: #00BFFF;
    width: 100%;
    height: 40px;
}
